<div class="emphasis">Q: {{question.summary}}</div>

<div class="row">
  <h5>asked by {{question.user}} - {{format-date question.date}}</h5>
</div>

<div class="row">
  <p>{{question.q}}</p>
</div>

<div class="row">
  <h5>Tags: {{question.tags}}</h5>
</div>

<div class="row">{{provide-answer saveAnswer="saveAnswer" question=question}}</div>

<div class="row">
  <ul>
    {{#each question.answers as |answer|}}
      <div class="minoremphasis">A: by {{answer.name}} - email: {{answer.email}}</div>
      <li class="answer">{{answer.text}}
      <button {{action 'deleteAnswer' answer}}><span class="glyphicon glyphicon-trash"></span></button></li>
    {{/each}}
  </ul>
</div>
