<div class="row">
  <h1>{{question.summary}}</h1>
  <h5>{{question.user}} - {{question.date}}</h5>
</div>

<div class="row">
  <p>{{question.q}}</p>
</div>

<div class="row">
  <h5>Tags: {{question.tags}}</h5>
</div>
