{{#if updateQuestionForm}}
  <div class="formCHANGE">
    <form>
      <div class="formemphasis">you are changing this question!!!</div>
      <div class="form-group">
        <label for="summary"><span class="formq">this Q, in a few words:</span></label><br>
        {{textarea value=summary id="summary" cols="60" rows="1"}}
      </div>

      <div class="form-group">
        <label for="q"><span class="formq">question:</span></label><br>
        {{textarea value=q id="q" cols="60" rows="5"}}
      </div>

      <div class="form-group">
        <label for="user"><span class="formq">name: </span></label>
        {{input value=user id="user"}}
      </div>

      <div class="form-group">
        <label for="tags"><span class="formq">tags: </span></label>
        {{input value=tags id="tags"}}
      </div>

      <div class="button pointer serious" {{action 'update' model}}>update</div>
    </form>

    <div class="button pointer serious" {{action 'deleteQuestion' model}}>delete</div>
  </div>
{{else}}
  <div class="right"><a {{action 'updateQuestionForm'}}>suggest an edit for this question</a></div>
{{/if}}
